body {
    perspective: 800px;
}
/*Cores*/
#Nada {
    background-color: rgb(rgba(255, 255, 255, 0));
    width: 100px;
    height: 100px;
}
#Nada-3D-Y-X {
    background-color: rgba(255, 255, 255, 0);
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Nada-3D-Y {
    background-color: rgba(255, 255, 255, 0);
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Nada-3D-X {
    background-color: rgba(255, 255, 255, 0);
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}
#Preto {
    background-color: black;
    width: 100px;
    height: 100px;
}

#Branco {
    background-color: white;
    width: 100px;
    height: 100px;
}

#Vermelho {
    background-color: red;
    width: 100px;
    height: 100px;
}

#Azul {
    background-color: blue;
    width: 100px;
    height: 100px;
}

#Verde {
    background-color: green;
    width: 100px;
    height: 100px;
}

#Amarelo {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

#Laranja {
    background-color: orange;
    width: 100px;
    height: 100px;
}

#Roxo {
    background-color: purple;
    width: 100px;
    height: 100px;
}

#Cinza {
    background-color: gray;
    width: 100px;
    height: 100px;
}

#Marro {
    background-color: brown;
    width: 100px;
    height: 100px;
}

#AzulClaro {
    background-color: lightblue;
    width: 100px;
    height: 100px;
}

#VerdeClaro {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
}

#CinzaClaro {
    background-color: lightgray;
    width: 100px;
    height: 100px;
}

#Rosa {
    background-color: pink;
    width: 100px;
    height: 100px;
}

#Dourado {
    background-color: gold;
    width: 100px;
    height: 100px;
}

#Prata {
    background-color: silver;
    width: 100px;
    height: 100px;
}

#AzulMarinho {
    background-color: navy;
    width: 100px;
    height: 100px;
}

#Violeta {
    background-color: violet;
    width: 100px;
    height: 100px;
}

#Ciano {
    background-color: cyan;
    width: 100px;
    height: 100px;
}

#Magenta {
    background-color: magenta;
    width: 100px;
    height: 100px;
}
#Preto-3D-Y {
    background-color: black;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Preto-3D-X {
    background-color: black;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Preto-3D-Y-X {
    background-color: black;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Branco-3D-Y {
    background-color: white;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Branco-3D-X {
    background-color: white;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Branco-3D-Y-X {
    background-color: white;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Vermelho-3D-Y {
    background-color: red;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Vermelho-3D-X {
    background-color: red;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Vermelho-3D-Y-X {
    background-color: red;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Azul-3D-Y {
    background-color: blue;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Azul-3D-X {
    background-color: blue;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Azul-3D-Y-X {
    background-color: blue;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Verde-3D-Y {
    background-color: green;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Verde-3D-X {
    background-color: green;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Verde-3D-Y-X {
    background-color: green;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Amarelo-3D-Y {
    background-color: yellow;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Amarelo-3D-X {
    background-color: yellow;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Amarelo-3D-Y-X {
    background-color: yellow;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Laranja-3D-Y {
    background-color: orange;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Laranja-3D-X {
    background-color: orange;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Laranja-3D-Y-X {
    background-color: orange;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Roxo-3D-Y {
    background-color: purple;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Roxo-3D-X {
    background-color: purple;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Roxo-3D-Y-X {
    background-color: purple;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Cinza-3D-Y {
    background-color: gray;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Cinza-3D-X {
    background-color: gray;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Cinza-3D-Y-X {
    background-color: gray;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Marro-3D-Y {
    background-color: brown;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Marro-3D-X {
    background-color: brown;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Marro-3D-Y-X {
    background-color: brown;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#AzulClaro-3D-Y {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#AzulClaro-3D-X {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#AzulClaro-3D-Y-X {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#VerdeClaro-3D-Y {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#VerdeClaro-3D-X {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#VerdeClaro-3D-Y-X {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#CinzaClaro-3D-Y {
    background-color: lightgray;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#CinzaClaro-3D-X {
    background-color: lightgray;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#CinzaClaro-3D-Y-X {
    background-color: lightgray;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Rosa-3D-Y {
    background-color: pink;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Rosa-3D-X {
    background-color: pink;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Rosa-3D-Y-X {
    background-color: pink;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Dourado-3D-Y {
    background-color: gold;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Dourado-3D-X {
    background-color: gold;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Dourado-3D-Y-X {
    background-color: gold;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Prata-3D-Y {
    background-color: silver;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Prata-3D-X {
    background-color: silver;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Prata-3D-Y-X {
    background-color: silver;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#AzulMarinho-3D-Y {
    background-color: navy;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#AzulMarinho-3D-X {
    background-color: navy;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#AzulMarinho-3D-Y-X {
    background-color: navy;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Violeta-3D-Y {
    background-color: violet;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Violeta-3D-X {
    background-color: violet;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Violeta-3D-Y-X {
    background-color: violet;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Ciano-3D-Y {
    background-color: cyan;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Ciano-3D-X {
    background-color: cyan;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Ciano-3D-Y-X {
    background-color: cyan;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}

#Magenta-3D-Y {
    background-color: magenta;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg);
}

#Magenta-3D-X {
    background-color: magenta;
    width: 100px;
    height: 100px;
    transform: rotateX(45deg);
}

#Magenta-3D-Y-X {
    background-color: magenta;
    width: 100px;
    height: 100px;
    transform: rotateY(45deg) rotateX(45deg);
}


/*Fim Cores*/
/*-------------*/


/*Animações*/
.anim-a{
    transition: all 0.1s ease;
}
.anim-b{
    transition: all 0.2s ease;
}
.anim-c{
    transition: all 0.3s ease;
}
.anim-d{
    transition: all 0.4s ease;
}
.anim-e{
    transition: all 0.5s ease;
}
.anim-f{
    transition: all 0.6s ease;
}
.anim-g{
    transition: all 0.7s ease;
}
.anim-h{
    transition: all 1s ease;
}
.anim-i{
    transition: all 2s ease;
}
.anim-j{
    transition: all 3s ease;
}
.anim-k{
    transition: all 5s ease;
}
.anim-l{
    transition: all 10s ease;
}
.anim-m{
    transition: all 15s ease;
}
.anim-n{
    transition: all 20s ease;
}
.anim-o{
    transition: all 40s ease;
}
.anim-p{
    transition: all 60s ease;
}
.anim-q{
    transition: all 90s ease;
}
.anim-r{
    transition: all 100s ease;
}
.anim-s{
    transition: all 150s ease;
}
.anim-t{
    transition: all 200s ease;
}
.anim-u{
    transition: all 230s ease;
}
.anim-v{
    transition: all 260s ease;
}
.anim-w{
    transition: all 290s ease;
}
.anim-x{
    transition: all 320s ease;
}
.anim-y{
    transition: all 420s ease;
}
.anim-z{
    transition: all 500s ease;
}


/*Fim animações*/
/*-------------*/


/*Keyframes*/
@keyframes girar {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes girarB {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}
@keyframes girarAB {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.keyframes-girarAB-a {
    animation: girarAB 4s linear infinite;
}

.keyframes-girarAB-b {
    animation: girarAB 20s linear infinite;
}

.keyframes-girarAB-c {
    animation: girarAB 40s linear infinite;
}

.keyframes-girarAB-d {
    animation: girarAB 60s linear infinite;
}

.keyframes-girarAB-e {
    animation: girarAB 80s linear infinite;
}

.keyframes-girarAB-f {
    animation: girarAB 100s linear infinite;
}

.keyframes-girarAB-g {
    animation: girarAB 120s linear infinite;
}

.keyframes-girarAB-h {
    animation: girarAB 140s linear infinite;
}

.keyframes-girarAB-i {
    animation: girarAB 160s linear infinite;
}

.keyframes-girarAB-j {
    animation: girarAB 180s linear infinite;
}

.keyframes-girarAB-k {
    animation: girarAB 200s linear infinite;
}

.keyframes-girarAB-l {
    animation: girarAB 220s linear infinite;
}

.keyframes-girarAB-m {
    animation: girarAB 240s linear infinite;
}

.keyframes-girarAB-n {
    animation: girarAB 260s linear infinite;
}

.keyframes-girarAB-o {
    animation: girarAB 280s linear infinite;
}

.keyframes-girarAB-p {
    animation: girarAB 300s linear infinite;
}

.keyframes-girarAB-q {
    animation: girarAB 320s linear infinite;
}

.keyframes-girarAB-r {
    animation: girarAB 340s linear infinite;
}

.keyframes-girarAB-s {
    animation: girarAB 360s linear infinite;
}

.keyframes-girarAB-t {
    animation: girarAB 380s linear infinite;
}

.keyframes-girarAB-u {
    animation: girarAB 400s linear infinite;
}

.keyframes-girarAB-v {
    animation: girarAB 420s linear infinite;
}

.keyframes-girarAB-w {
    animation: girarAB 440s linear infinite;
}

.keyframes-girarAB-x {
    animation: girarAB 460s linear infinite;
}

.keyframes-girarAB-y {
    animation: girarAB 480s linear infinite;
}

.keyframes-girarAB-z {
    animation: girarAB 500s linear infinite;
}


.keyframes-girarB-a {
    animation: girarB 4s linear infinite;
}

.keyframes-girarB-b {
    animation: girarB 20s linear infinite;
}

.keyframes-girarB-c {
    animation: girarB 40s linear infinite;
}

.keyframes-girarB-d {
    animation: girarB 60s linear infinite;
}

.keyframes-girarB-e {
    animation: girarB 80s linear infinite;
}

.keyframes-girarB-f {
    animation: girarB 100s linear infinite;
}

.keyframes-girarB-g {
    animation: girarB 120s linear infinite;
}

.keyframes-girarB-h {
    animation: girarB 140s linear infinite;
}

.keyframes-girarB-i {
    animation: girarB 160s linear infinite;
}

.keyframes-girarB-j {
    animation: girarB 180s linear infinite;
}

.keyframes-girarB-k {
    animation: girarB 200s linear infinite;
}

.keyframes-girarB-l {
    animation: girarB 220s linear infinite;
}

.keyframes-girarB-m {
    animation: girarB 240s linear infinite;
}

.keyframes-girarB-n {
    animation: girarB 260s linear infinite;
}

.keyframes-girarB-o {
    animation: girarB 280s linear infinite;
}

.keyframes-girarB-p {
    animation: girarB 300s linear infinite;
}

.keyframes-girarB-q {
    animation: girarB 320s linear infinite;
}

.keyframes-girarB-r {
    animation: girarB 340s linear infinite;
}

.keyframes-girarB-s {
    animation: girarB 360s linear infinite;
}

.keyframes-girarB-t {
    animation: girarB 380s linear infinite;
}

.keyframes-girarB-u {
    animation: girarB 400s linear infinite;
}

.keyframes-girarB-v {
    animation: girarB 420s linear infinite;
}

.keyframes-girarB-w {
    animation: girarB 440s linear infinite;
}

.keyframes-girarB-x {
    animation: girarB 460s linear infinite;
}

.keyframes-girarB-y {
    animation: girarB 480s linear infinite;
}

.keyframes-girarB-z {
    animation: girarB 500s linear infinite;
}


.keyframes-girar-a {
    animation: girar 4s linear infinite;
}

.keyframes-girar-b {
    animation: girar 20s linear infinite;
}

.keyframes-girar-c {
    animation: girar 40s linear infinite;
}

.keyframes-girar-d {
    animation: girar 60s linear infinite;
}

.keyframes-girar-e {
    animation: girar 80s linear infinite;
}

.keyframes-girar-f {
    animation: girar 100s linear infinite;
}

.keyframes-girar-g {
    animation: girar 120s linear infinite;
}

.keyframes-girar-h {
    animation: girar 140s linear infinite;
}

.keyframes-girar-i {
    animation: girar 160s linear infinite;
}

.keyframes-girar-j {
    animation: girar 180s linear infinite;
}

.keyframes-girar-k {
    animation: girar 200s linear infinite;
}

.keyframes-girar-l {
    animation: girar 220s linear infinite;
}

.keyframes-girar-m {
    animation: girar 240s linear infinite;
}

.keyframes-girar-n {
    animation: girar 260s linear infinite;
}

.keyframes-girar-o {
    animation: girar 280s linear infinite;
}

.keyframes-girar-p {
    animation: girar 300s linear infinite;
}

.keyframes-girar-q {
    animation: girar 320s linear infinite;
}

.keyframes-girar-r {
    animation: girar 340s linear infinite;
}

.keyframes-girar-s {
    animation: girar 360s linear infinite;
}

.keyframes-girar-t {
    animation: girar 380s linear infinite;
}

.keyframes-girar-u {
    animation: girar 400s linear infinite;
}

.keyframes-girar-v {
    animation: girar 420s linear infinite;
}

.keyframes-girar-w {
    animation: girar 440s linear infinite;
}

.keyframes-girar-x {
    animation: girar 460s linear infinite;
}

.keyframes-girar-y {
    animation: girar 480s linear infinite;
}

.keyframes-girar-z {
    animation: girar 500s linear infinite;
}


/* Imagens */
.Brasil{
    background-image: url(https://s1.static.brasilescola.uol.com.br/be/conteudo/images/2-bandeira-do-brasil.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}
.Gato{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0uT0bG9IAFrlybhVFnKxffAorcywjl-AjvhxS8zNE6psi3truUfdLQi5DSimL0gl3hTI&usqp=CAU);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}
.Cachorro{
    background-image: url(https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}
.Suspeito{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVzJTQHnoyn2VZnCVySXZgo7P3oq67w_FGTXQ4qiVtYt9gqRY0PEjiLyP8kkL9tCKDwAE&usqp=CAU);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

/*Fim Imagens*/
/*-----------*/
